RABBITMQ_DEFAULT_USER=converter
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=converter
RABBITMQ_HOST=rabbit
RABBITMQ_PORT=5672
REDIS_HOST=redis
REDIS_PORT=6379
CURRENCIES=CZK,EUR,PLN,USD
RATES_API_URL=https://api.exchangeratesapi.io/latest
RATES_UPDATE_PERIOD_DAYS=1
